<?xml version="1.0" encoding="UTF-8"?>
<!--
  web.xml for module ${artifactId}
-->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "web-app_2_3.dtd">
<web-app>

  <description>${artifactId}</description>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>${artifactId}</servlet-name>
    <servlet-class>${groupId}.${artifactId}.AdminServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>  
    <servlet-name>default</servlet-name>  
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>  
    <servlet-name>default</servlet-name>  
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>  
    <servlet-name>default</servlet-name>  
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>${artifactId}</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>
